body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.panel {
    width: calc(45% - 20px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.panel h2 {
    color: #333;
    margin-bottom: 20px;
}

.panel label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.panel input,
.panel select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

.panel input[type="submit"] {
    width: auto;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.panel input[type="submit"]:hover {
    background-color: #0056b3;
}

.panel input[type="radio"] {
    display: none;}

.panel input[type="radio"] + label {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.panel input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
}

.panel input[type="radio"] + label + input[type="radio"] + label {
    margin-left: 10px;
}

.panel input[type="file"] {
    display: none;
}

#btnArchivo {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

#btnArchivo:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .panel {
        width: 100%;
    }
}

.calendar-icon {
    position: relative;
    display: inline-block;
}

.calendar-icon img {
    position: absolute;
    right: 25px; /* Ajusta la posición horizontal según sea necesario */
    top: 55%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    cursor: pointer;
}






h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 10px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

