{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel de acceso</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/img-cisel.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="container1">
        <div class="logo-container">
            <img src="{% static 'img/img-cisel.png' %}" alt="Logo">
        </div>
        <h1>Panel de acceso</h1>
        <div class="accordion">
            <div class="accordion-item">
                <button class="accordion-button" data-target="panel1">Ingreso de personal</button>
                <div class="accordion-panel panel1">
                    <ul>
                        <li><a href="{% url 'registropersonal' %}">Registrar personal</a></li>
                        <li class="separator"></li>
                        <li><a href="{% url 'listapersonal' %}">Lista de personal</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-button" data-target="panel2">Ver personal</button>
                <div class="accordion-panel panel2">
                    <ul>
                        <li><a href="{% url 'verpersonal' %}">Ver detalles de personal</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-button" data-target="panel3">Asistencia del personal</button>
                <div class="accordion-panel panel3">
                    <ul>
                        <li><a href="{% url 'asistencia' %}">Asistencia del personal</a></li>
                    </ul>
              </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-button" data-target="panel4">Contratos del personal</button>
                <div class="accordion-panel panel4">
                    <ul>
                        <li><a href="{% url 'contrato' %}">Contrato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>